img.capa{
    width: 102.3% ;
}
.home{
    background-image: url("/static/img/fundo.png");
    margin: 2% 11% 2% 11% ;
}
.body2{
    background-image: url("/static/img/fundo2.png");
    margin: 2% 11% 2% 11% ;
}
.capadiv{
    margin: 1.9% 7% 4% 7% ;
}
.logo{
    text-align: left;
    margin-left: 7.5%;
}
.links{
    text-align: right;
    margin-top: -2%;
    margin-right: 6.2%;
}
.divpg{
    margin: 2% 5.5% 2% 7% ;
}
.pg {
    margin-top: 1%;
    text-align: justify;
}
.direitos{
    margin-top: 8%;
    text-align: center;
}