<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Contatos</title>
</head>
<body class="body2">
    <div>
        <img class="logo" src="/static/img/logo.png"> 
        <div class="links">
            <a href="/">Home</a> | <a href="/quem-somos">Quem somos</a> | <a href="/contatos">Contato</a>
        </div>
    </div>
    <div class="divpg">
        <h2>Entre em contato</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae?
        </p>
        <hr>
        <form action="">
            Seu e-mail: <br>
            <input type="text"><br>
            Assunto: <br>
            <input type="text"><br>
            Descrição: <br>
            <textarea name="" id="" cols="20" rows="3"></textarea><br>
            <input type="submit" name="Enviar" id="">
        </form>
        <h4 class="direitos">Todos os direitos reservados</h5>
    </div>
</body>
</html>