<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>UNES</title>
</head>
<body class="home">
    <div>
        <img class="logo" src="/static/img/logo.png"> 
        <div class="links">
            <a href="/">Home</a> | <a href="/quem-somos">Quem somos</a> | <a href="/contatos">Contato</a>
        </div>
    </div>
    <div class="capadiv">
        <img class="capa" src="/static/img/capa.png">
    </div>
    <div class="divpg">
        <h2>Sobre a universidade</h2>
        <p class="pg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?
        </p>
        <p class="pg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?
        </p>
        <h4 class="direitos">Todos os direitos reservados</h5>
    </div>

</body>
</html>