<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Quem somos</title>
</head>
<body class="body2">
    <div>
        <img class="logo" src="/static/img/logo.png"> 
        <div class="links">
            <a href="/">Home</a> | <a href="/quem-somos">Quem somos</a> | <a href="/contatos">Contato</a>
        </div>
    </div>
    <div class="divpg">
        <h2>Quem somos</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?
        </p>
        <h2>5 motivos para estudar</h2>
        <p>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Profesoores renomados</li>
                <li>universidade bem avaliada</li>
                <li>Ótima localização</li>
              </ol>
        </p>
        <hr>
        <h2>Objetivos</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus cum beatae deleniti nostrum aperiam rem. Illo, molestiae? Odit, maxime eligendi reprehenderit, eum quam quo error exercitationem qui, fugiat facere eius?
        </p>
        <h4 class="direitos">Todos os direitos reservados</h5>
    </div>
</body>
</html>