<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecBlog</title>
    <link rel="stylesheet" href="/static/css/style1.css">
</head>
<body>
    <div class="footer">
    <h1 class="tecblog"><a class="pao">Tec</a><a>Blog</a></h1>
    <nav class="navegador">
        <a href="/">Home</a>
        <a href="/">Jogos</a> 
        <a href="/">Celulares</a> 
        <a href="/">Inforática</a>
        <a href="/">Eletrônicos</a>
        </nav>
    </div>
    <div class="content1">
        <div class="postagem">
            <h3 class="titlepost">Titulo da postagem 1</h3>
            <h4 class="subtitle">Postado 20 março 2022</h4>
            <hr class="hr">
            <img src="../static/img/imagem1.jpg" alt="postagem1" class="img">
            <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nemo nesciunt magni eaque ullam atque ex at quidem doloribus nihil, fugit saepe, necessitatibus harum quo, eius quasi. Corrupti, doloribus odit?</p>
            <a href="/" class="seemore">Leia mais</a>
        </div>
        <div class="postagem">
            <h3 class="titlepost">Titulo da postagem 2</h3>
            <h4 class="subtitle">Postado 10 março 2022</h4>
            <hr class="hr">
            <img src="../static/img/imagem2.jpg" alt="postagem2" class="img">
            <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus nemo nesciunt magni eaque ullam atque ex at quidem doloribus nihil, fugit saepe, necessitatibus harum quo, eius quasi. Corrupti, doloribus odit?</p>
            <a href="/" class="seemore">Leia mais</a>
        </div>
    </div>
    <div class="content">
        <div class="recentes">
            <h4 class="h4">Postagens recentes</h4>
            <p class="lorem2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="/" class="seemore2">Leia mais</a>
            <hr class="hr">
            <p class="lorem2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <a href="/" class="seemore2">Leia mais</a>
        </div>
        <div class="categorias">
            <h4 class="h4">Categorias</h4>
            <a href="/" class="seemore2">Jogos</a><br>
            <a href="/" class="seemore2">Celulares</a><br>
            <a href="/" class="seemore2">Inforática</a><br>
            <a href="/" class="seemore2">Eletrônicos</a><br>
            <a href="/" class="seemore2">Jogos</a>
        </div>
    </div>
    <br class="clearfix">
    <footer>
        Todos os direitos reservados
    </footer>
    
</body>
</html>